
<div id="container">
   <div id="body"> 
         <center><%= image_tag('privacy.png') %></center>
         
         <div class="row">
	  <div class="col s12 center">
		<h2>Chess Camp Privacy Policy</h2>

		<p>The Chess Camp privacy policy is very simple, rarely  
			changes, and does not require a lawyer to understand it.  
			Blah blah Blah
			<br><br>
			It's really that simple.
		</p>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
         
   </div>
</div>
